resources/Appointment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="appointment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:int"/>
                <xsd:element name="patientId" type="xsd:int"/>
                <xsd:element name="doctorId" type="xsd:int"/>
                <xsd:element name="appointmentDate" type="xsd:string"/>
                <xsd:element name="appointmentTime" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
